{% load custom_filters %}
<div class="footer-wrapper__inside">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-copyright">
                    <p>@ 2023<a href="#">{{1|site_name}}</a>
                    </p>
                </div>
            </div>
           {% comment %}  <div class="col-md-6">
                <div class="footer-menu text-end">
                    <ul>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Team</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>