{% load static %}
{% load custom_filters %}
<div class="card border-0 px-sm-25">
    <div class="card-header px-0 border-0">
        <h6>Mis Proyectos</h6>
        <div class="card-extra">
            <div class="dropdown dropleft">
                <a href="#" role="button" id="revenue4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'img/svg/more-horizontal.svg' %}" alt="more-horizontal" class="svg">
                </a>
                <div class="dropdown-menu" aria-labelledby="revenue4">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0 pb-45">
        <div class="selling-table-wrap selling-table-wrap--source selling-table-wrap--traffic">
            <div class="table-responsive">
                <table class="table table--default table-borderless">
                    <tbody>
                        {%for project in projects%}
                        <tr>
                            <td>
                                <div class="selling-product-img d-flex align-items-center">
                                    <span>{{project.title}}</span>
                                </div>
                            </td>
                            <td>{{project.release_set.all|count_by_status:4}} / {{project.release_set.count}} release completados</td>
                            <td>
                                <div class="d-flex align-center justify-content-end">
                                    <div class="progress-wrap mb-0">
                                        <div class="progress">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: {{project.release_set.all|count_by_status_perc:4|stringformat:'d'}}%;" aria-valuenow="{{project.release_set.all|count_by_status_perc:4|stringformat:'d'}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="progress-percentage">{{project.release_set.all|count_by_status_perc:4|stringformat:'d'}}%</span>
                                    </div>
                                </div>

                                
                            </td>
                        </tr>
                        {%endfor%}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>